<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiteGraph.js Example</title>
    <link rel="stylesheet" href="css/litegraph.css  ">
    <script src="{{ url_for('static', filename='js/litegraph.js') }}"></script>
</head>
<body style='width:100%; height:100%'>
    <div class="graph-wrapper">
        <canvas id="graph-container"></canvas>
    </div>

    <script>
        // Create the graph
        const graph = new LGraph();
        
        // Create canvas
        const canvas = new LGraphCanvas("#graph-container", graph);
        
        // Create nodes
        const node1 = LiteGraph.createNode("basic/const");
        node1.pos = [100, 200];
        node1.setValue(42);
        graph.add(node1);

        const node2 = LiteGraph.createNode("basic/watch");
        node2.pos = [400, 200];
        graph.add(node2);

        // Connect nodes
        node1.connect(0, node2, 0);

        // Start the graph
        graph.start();
    </script>
</body>
</html>
