<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiteGraph.js Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/litegraph.css') }}">
    <script src="{{ url_for('static', filename='js/litegraph.js') }}"></script>
</head>
<body style='width:100%; height:100%'>
    <div class="graph-wrapper">
        <canvas id="graph-container"></canvas>
    </div>

    <script src="{{ url_for('static', filename='js/ApiClient.js') }}"></script>
    <script src="{{ url_for('static', filename='js/WebSocketClient.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        // Add this to help debug Socket.IO connection issues
        localStorage.debug = 'socket.io-client:socket';
    </script>
</body>
</html>
